<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}Grégory Dehame{% endblock titre %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#">Grégory Dehame</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/films">Films</a></li>
                <li><a href="/film/add">Ajouter un film</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>
    <footer>
        <p>&copy; 2023 Grégory Dehame</p>
    </footer>
</body>
</html>
{% block script %}

{% endblock script %}